body {
  background-color: #8fe4d7;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 40px;
  text-align: center;
  color: #073b33;
}

.container .div-tesoura, .container .div-papel, .container .div-pedra {
  padding: 10px;
  margin: 10px;
  min-width: 100px;
  min-height: 100px;
  text-align: center;
}

.container .div-tesoura #btn-tesoura, .container .div-papel #btn-papel, .container .div-pedra #btn-pedra {
  padding: 5px;
  background-color: coral;
  min-width: 80px;
  min-height: 80px;
  box-shadow: 3px 4px 3px #000;
}
.container .div-tesoura #btn-tesoura:hover, .container .div-papel #btn-papel:hover, .container .div-pedra #btn-pedra:hover {
  cursor: pointer;
  background-color: #f5490b;
}

.container {
  display: flex;
  justify-content: center;
}
.container i {
  font-size: 40px;
}
.container h4 {
  font-size: 18px;
  margin: 15px;
}
.container .div-pedra span,
.container .div-papel span,
.container .div-tesoura span {
  font-weight: bold;
  color: #f7571d;
}

.jogar {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jogar span {
  font-weight: bold;
  color: coral;
  margin-bottom: 25px;
  font-size: 20px;
}
.jogar #btn-jogar {
  background-color: #42f71e;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}
.jogar #btn-jogar:hover:not([disabled]) {
  cursor: pointer;
  background-color: coral;
}

.selected {
  background-color: #f53210 !important;
}

.resultados {
  text-align: center;
  padding: 5px;
  width: 150px;
}

.resultados span {
  flex: 1;
  font-size: 25px;
}

.pontos-player {
  margin-right: 30px;
}

.pontos-cpu {
  margin-left: 45px;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.column h2 {
  color: #073b33;
}

#count-down {
  font-size: 130px;
  font-weight: bold;
  position: fixed;
  left: 47%;
  top: 38%;
  color: #f77b34;
  display: none;
}

.d-none {
  display: none;
}

#resultado {
  font-weight: bold;
  color: #073b33;
  font-size: 25px;
}
